@model Person

<tr>
    <td>@Model.FirstName</td>
    <td>@Model.LastName</td>
    <td>@Model.Email</td>
    <td>
        <!--Home/People/Index/{id}-->
        <!--kun je ook viaasp-route-key="ApenstaartjeModel.Id" Home/People/Index/?={id}-->
        <a asp-action="Edit" class="btn btn-primary" asp-route-id="@Model.Id">Edit</a>
        <!--btn om persoon te verwijderen-->
        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id">Delete</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete with Modal</button>
    </td>
</tr>
